# =========================
# Dependencies
# =========================
node_modules/

# =========================
# Next.js
# =========================
.next/
out/
build/

# =========================
# Environment variables
# =========================
.env
.env.local
.env.development
.env.production

# =========================
# Logs
# =========================
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# =========================
# Vercel
# =========================
.vercel/

# =========================
# Cache
# =========================
.eslintcache
.turbo/

# =========================
# OS / Editor
# =========================
.DS_Store
Thumbs.db
.vscode/
.idea/

# =========================
# Testing
# =========================
coverage/
